body{
  margin-bottom: 80px;
}
.wrapper {
  background-color: red;
  height: 100px;
  width: 100px;
}
.darkBG{
    background: #999;
    height: 200px;
}
.darkerBG{
    background: #666;
    height: 150px;
}
.darkestBG{
    background: #333;
    height: 50px;
}
.home{
    background: #333;
    height: 600px;
}
#footer{
  background: #999;
  height: 50px;
}
